<%- include("../../layout/header") %>

<div class="col-md-10  list-group-item pb-4">
    <form id="post_form">
        <h3>Редактирование поста</h3>
        <div class="mb-3">
            <label for="post-title">Заголовок</label>
            <input type=" text" class="form-control" name="title" id="post-title" required pattern="[a-zA-Zа-яА-Я\._ ]*"
                value="<%-post.title%>" minlength="2">
        </div>

        <div class=" mb-3">
            <label for="post-body">Текст</label>
            <textarea class="form-control" name="body" id="post-body" rows="3" required>
                <%-post.body%>
            </textarea>
        </div>
        <button class=" btn btn-primary btn-lg btn-block">Отправить</button>
    </form>
</div>

<script>
    const postForm = document.getElementById("post_form");

    postForm.onsubmit = async (e) => {
        e.preventDefault();
        const data = new FormData(postForm);
        const body = {};

        for (let [name, value] of data) {
            body[name] = value;
        }

        try {
            const response = await fetch("/admin/post/<%-post.postId%>", {
                method: "PUT",
                headers: {
                    "content-type": "application/json",
                },
                body: JSON.stringify(body),
            });
            const { post } = await response.json();
            document.location = `/blog/${post.postId}`
        } catch (err) {
            console.log(err);
        }
    };
</script>

<%- include("../../layout/footer") %>