<%- include("../layout/header") %>


<div class=" no-gutters border rounded overflow-hidden flex-md-row  shadow-sm col-md-10 position-relative">
    <div class="pb-2  pt-2">
        <% if(posts.length==0) {%>
        <h3 class="">Новостей пока что нет</h3>
        <% } else { %>

        <% posts.forEach((post)=>{ %>
        <div class="card  mb-1">
            <div class="card-header">

                <a href="/blog/<%-post.postId%>"><%-post.title%></a>
                <% if (isAdmin) {%>
                <a class="btn btn-warning" href="/admin/post/<%-post.postId%>">
                    <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                        <path fill-rule="evenodd"
                            d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                    </svg>
                </a>
                <button class="btn btn-danger" type="button" data-toggle="collapse"
                    data-target="#collapse<%-post.postId%>" aria-expanded="false">
                    <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>
                <div class="collapse" id="collapse<%-post.postId%>">
                    <div class="card card-body">
                        Вы уверены?
                        <button type="button" id="delete<%-post.postId%>"
                            class="btn btn-danger deleteButton">Удалить</button>
                    </div>
                </div>
                <%}%>
            </div>
            <div class="card-body">
                <% if(post.body.length<500){ %>
                <%-post.body%>
                <%} else {%>
                <%-post.body.slice(0,post.body.slice(0,500).lastIndexOf(".")+1)%>
                <%} %>
            </div>
        </div>
        <% }) %>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item <% if(page==1) {%> disabled <% } %>">
                    <a class="page-link " href="/blog/?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item <% if(page==1) {%> disabled <% } %>">
                    <a class="page-link " href="/blog/?page=<%-page-1%>" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <% switch(pages){
                        case 1:
                    %>
                <li class="page-item active"><a class="page-link" href="#">
                        1
                    </a></li>
                <%
                        break;
                        case 2:
                    %>
                <% if(page==1) {
                    %>
                <li class="page-item active"><a class="page-link" href="#">
                        1
                    </a></li>
                <li class="page-item"><a class="page-link" href="/blog/?page=2">
                        2
                    </a></li>

                <%
                    }else{
                    %>
                <li class="page-item "><a class="page-link" href="/blog/?page=1">
                        1
                    </a></li>
                <li class="page-item active"><a class="page-link" href="#">
                        2
                    </a></li>
                <% 
                } 
                %>

                <%
                        break;
                        default:
                    %>

                <% switch(page){
                            case 1:
                        %>
                <li class="page-item active"><a class="page-link" href="#">
                        1
                    </a></li>
                <li class="page-item"><a class="page-link" href="/blog/?page=2">
                        2
                    </a></li>
                <li class="page-item "><a class="page-link" href="/blog/?page=3">
                        3
                    </a></li>
                <%
                            break;
                            case pages:
                        %>
                <li class="page-item "><a class="page-link" href="/blog/?page=<%-pages-2%>">
                        <%-pages-2%>
                    </a></li>
                <li class="page-item "><a class="page-link" href="/blog/?page=<%-pages-1%>">
                        <%-pages-1%>
                    </a></li>
                <li class="page-item active"><a class="page-link" href="#">
                        <%-pages%>
                    </a></li>
                <%
                            break;
                            default:
                        %>
                <li class="page-item "><a class="page-link" href="/blog/?page=<%-page-1%>">
                        <%-page-1%>
                    </a></li>
                <li class="page-item active"><a class="page-link" href="/blog/?page=<%-page%>">
                        <%-page%>
                    </a></li>
                <li class="page-item "><a class="page-link" href="/blog/?page=<%-page+1%>">
                        <%-page+1%>
                    </a></li>
                <% 
                    } 
                    %>

                <% 
                    } 
                    %>
                <li class="page-item <% if(page==pages) {%> disabled <% } %>">
                    <a class="page-link" href="/blog/?page=<%-page+1%>" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li class="page-item <% if(page==pages) {%> disabled <% } %>">
                    <a class="page-link" href="/blog/?page=<%-pages%>" aria-label=" Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


        <% } %>
    </div>

</div>

<%if(isAdmin){%>
<script>

    const deleteButtons = document.getElementsByClassName("deleteButton")

    for (let btn of deleteButtons) {
        btn.addEventListener("click", async (e) => {
            const { id } = e.explicitOriginalTarget;
            const postId = id.slice(6)
            try {
                const { status } = await fetch(`/admin/post/${postId}`, {
                    method: "DELETE",
                });
                if (status == 200) {
                    document.location.reload();
                }

            } catch (err) {
                console.log(err);
            }
        })
    }


</script>


<%}%>




<%- include("../layout/footer") %>